@font-face {
    font-family: Libertinus;
    font-style: normal;
    font-weight: normal;
    src: url("assets/Libertinus/LibertinusSerif-Regular.woff2") format("woff");
}
@font-face {
    font-family: Libertinus;
    font-style: normal;
    font-weight: bold;
    src: url("assets/Libertinus/LibertinusSerif-Bold.woff2") format("woff");
}
@font-face {
    font-family: Libertinus;
    font-style: italic;
    font-weight: normal;
    src: url("assets/Libertinus/LibertinusSerif-Italic.woff2") format("woff");
}
@font-face {
    font-family: LibertinusKeyboard;
    src: url("assets/Libertinus/LibertinusKeyboard-Regular.woff2") format("woff");
}

* {
    font-family: "Libertinus", sans-serif;
    text-align: center;
    list-style-position: inside;
}

body {
    margin: 0;
}

p, a, span, li {
    font-size: 12pt;
}

ol {
    padding: 0;
}

a {
    color: #2222dd !important;
}

button {
    font-family: "LibertinusKeyboard", sans-serif;
    font-size: 14pt;
    padding: 15px;
}

input, select {
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 275px;
    height: 30;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

#tutorial {
    margin: auto;
    width: 300px;
}